<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Document</title>
</head>
<nav class="custom-nav">
  <div class="nav-wrapper teal lighten-5">
    <a href="#!" class="brand-logo cyan accent-1 black-text"></a>
    <ul class="center">
      <row>
        {{#if logged_In}}

        {{else}}
        <button id="logOffNav" class="btn">LOG OFF</button>
        <button id="userPageNav" class="btn">USER HOME</button>
        <button id="playoffsNav" class="btn">HOME</button>
        <button id="allPlaylists" class="btn">ALL PLAYLISTS</button>
        <script src="./js/index.js"></script>
        <button id="signUpNav" class="btn">SIGN UP</button>
        <button id="signInNav" class="btn">SIGN IN</button>
        <script src="./js/landing.js"></script>
        {{/if}}
      </row>
    </ul>
  </div>
</nav>

<body>
  <div class="flex-column justify-space-around">
    <header class="">
      <h1>
        WELCOME TO
        <br>
        <br>
        &#x1F3C6 THE FANTASY DJ LEAGUE! &#x1F3C6
      </h1>
    </header>
    {{{ body }}}
  </div>
  <footer class="page-footer teal lighten-5">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">Footer Content</h5>
          <p class="black-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="black-text">Links</h5>
          <ul>
            <li><a class="black-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="black-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="black-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="black-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container black-text">
        © 2014 Copyright Text
        <a class="black-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

</body>

</html>