<div class="allplaylist-container">
<div class="row">
  <div class="column" style="widthbackground-color:#aaa;">
    <h4>ALL FANTASY TEAMS</h4>
    {{#each allPlaylists as |playlist|}}

    <div class="card allplaylistCard" style="width: 18rem;">
      <h3>{{@index}}.{{playlist.playlist_name}}</h3>
      <ul class="list-group list-group-flush">
         <li class="list-group-item"><h4> Score: {{playlist.count}}</h4></li>
      </ul>
    </div>
    {{/each}}
  </div>
  </div>