<div class="row">
  <div class="column" style="widthbackground-color:#aaa;">
    <h4>ALL FANTASY TEAMS</h4>
    {{#each allPlaylists as |playlist|}}

    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> {{@index}}.{{playlist.playlist_name}}</li>
        <li class="list-group-item"> Score: {{playlist.count}}</li>
      </ul>
    </div>
    {{/each}}
  </div>