<div class="menu-container">
  <div class="card-header col-md-10">
    <h2>
      YOUR DREAM TEAM
    </h2>
    <br>
  </div>
  {{#each artists as |artist|}}
      <div class="col-md-12">
      <p>
        {{artist.id}}.
        {{artist.track}}
      </p>

    </div>
    <div class="artist col-md-12">
      <p>
       
       
       by: {{artist.artist}}
      </p>
      <br>
      <br>
    </div>

  {{/each}}
</div>