   <div class="homepage-content">
        <h2 class="app-description">A website where users create unique playlists and compete with each other for view counts. </h2>
        <img class= ""src="./images/undraw_walk_in_the_city_1ma6.svg" alt="guy walking with headphones on">
    </div>
</div>